html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
}

.color_champ {
  border: solid 1px red;
}

#left {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  padding: 15px 20px;
  background-color: gray;
}

#left #menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
}

#left a {
  display: block;
  background-color: palegoldenrod;
  margin-left: 10%;
  color: black;
  text-decoration: none;
  padding: 15px;
  border-radius: 4px;
  border: solid 1px black;
  margin-bottom: 10px;
}

#left a:hover {
  background-color: goldenrod;
}

#left li:first-child {
  margin-bottom: 80px;
}

#left li:first-child a {
  background-color: goldenrod;
}

#title {
  position: fixed;
  top: 0;
  left: 280px;
  width: calc(100% - 280px);
  height: 80px;
  background-color: gray;
  display: flex;
  align-items: center;
  padding-inline: 30px;
  z-index: 2;
}

#title a {
  text-decoration: none;
  color: black;
  background-color: palegoldenrod;
  padding: 10px 20px;
  border-radius: 10px;
}

#title a:hover {
  background-color: goldenrod;
  padding: 10px 20px;
}

#title h1 {
  font-size: 2rem;
  color: goldenrod;
  text-shadow: 1px 1px black;
}

#logout {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: auto;
}

#right {
  position: absolute;
  top: 80px;
  left: 280px;
  width: calc(100% - 280px);
  min-height: calc(100vh - 80px);
  padding: 30px;
  overflow-y: auto;
}

#right details{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#right details > summary {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  background-color: gray;
  border: solid 1px black;
  margin-block: 10px;
  color: goldenrod;
}

#right summary:hover {
  background-color: black;
}

#right summary div {
  font-size: 1.2rem;
}

#right textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 200px;
  display: block;
  padding: 8px;
  font-size: inherit;
  font-family: inherit;
}

#date {
  color: black;
}

#nom {
  text-transform: uppercase;
}

#message,
#nom_compte,
.contenu_page .contenu_rubrique {
  margin-block: 10px;
  border: goldenrod solid 2px;
  padding: 10px;
  background-color: palegoldenrod;
}

.pas_ok {
  background-color: red;
  color: white;
  display: block;
}

.ok {
  background-color: green;
  color: white;
  display: block;
}

#form_compte,
#form_page,
#form_rubrique {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
#form_compte input,
#form_compte select,
#form_rubrique input,
#form_rubrique select {
  border-radius: 10px;
  padding-inline: 10px;
  width: 15%;
}

#form_compte label,
#form_rubrique label {
  margin-block: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

#submit {
  margin-top: 10px;
  background-color: black;
  color: white;
  padding-block: 5px;
}

#submit:hover {
  background-color: goldenrod;
}

#form_page input {
  border-radius: 10px;
  padding-inline: 10px;
  margin-block: 15px;
  width: 25%;
}

#right .options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#right .options label,
#right .options input {
  width: auto;
  padding-right: 15px;
}

.actions i{
  color: goldenrod;
}

#change_page,
#change_rubrique{
  display: flex;
  flex-wrap: wrap;
  width: 25%;
}

#info_page,
#info_rubrique {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

#change_page,
#change_rubrique {
  justify-content: flex-end;
}

#titre_page,
#id_rubrique {
  font-weight: bold;
  width: 50%;
}

#id_page,
#id_rubrique {
  padding-left: 10px;
}

#form_page label {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px;
}

#form_page #submit {
  width: 10%;
}

#form_page #ouioui {
  text-decoration: none;
}
#form_page #nonnon {
  text-decoration: none;
  padding-left: 15px;
}
